.button {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  height: 50px;
  font-size: 14px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: #008ed6;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
  box-sizing: border-box;

  &--transparent {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
  }
}