.about-1 {
  border-top: 1px solid #ededed;
  padding-top: 66px;
  padding-bottom: 20px;
}

.about-1__wrapper {
  display: flex;
  align-items: flex-start;
}

.about-1__on-phone-view {
  width: 50%;
  // flex-shrink: 0;
}

.about-1__content-wrapper {
  width: 50%;
  // flex-grow: 0;
  padding-top: 53px;
}

.about-1__text {
  color: $gray-color;
  font-size: 16px;
  line-height: 26px;
}

.about-1__list {
  list-style: none;
  padding-top: 32px;
}

.about-1__list-item {
  line-height: 35px;
}