extends _layouts/home
block Content
  include _partials/page-header
  include _partials/features
  include _partials/about-1
  include _partials/about-2
  include _partials/testimonials
  include _partials/pricing