div.about-1#about
  div.container.about-1__wrapper
    div.about-1__on-phone-view
      img.responsive-img(src="img/devices.png", alt="on device view")
    div.about-1__content-wrapper
      p.pre-title Dip into the details
      h2.section-title Beautiful on every device
      div.title-underline
        span.line
        span.line
      p.about-1__text Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
        |  Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
        |  Sed non  mauris vitae erat consequat auctor eu in elit. 
      ul.about-1__list
        li.about-1__list-item Awesome design
        li.about-1__list-item Fully responsive
        li.about-1__list-item Retina ready
        li.about-1__list-item Tons of features and easy to use