div.about-2
  div.container.about-2__wrapper
    div.about-2__content-wrapper
      p.pre-title Dip into the details
      h2.section-title Super easy to customize
      div.title-underline
        span.line
        span.line
      p.about-2__text Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    div.about-2__on-phone-view
      img.responsive-img(src="img/iphone_5.png", alt="on device view")