div.contact
  div.container.contact__wrapper
    p.pre-title stay in touch
    h2.section-title Contact us
    div.title-underline
      span.line
      span.line
    div.contact__items-wrapper
      div.contact__item
        span.contact__icon.contact__icon--phone
        p.contact__text Phone: (415) 124-5678 <br> Fax: (412) 123-8290
      div.contact__item
        span.contact__icon.contact__icon--pointer
        p.contact__text 1001 Brickell Bay Dr. <br> Suite 1900 Miami, <br> FL 33131
      div.contact__item
        span.contact__icon.contact__icon--mail
        p.contact__text support@yourname.com
