div.features
  div.container.features__wrapper
    p.features__pre-title.pre-title Product overview
    h2.features__title.section-title List of amazing features
    div.features__card-container
      div.features__card
        span.features__icon.features__icon--monitor
        h3.features__card-title Responsive
        p.features__card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          | Non rerum perferendis quidem est iste omnis nulla tenetur voluptatem?
      div.features__card
        span.features__icon.features__icon--gear
        h3.features__card-title Customizable
        p.features__card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          | Non rerum perferendis quidem est iste omnis nulla tenetur voluptatem?
      div.features__card
        span.features__icon.features__icon--like
        h3.features__card-title Lovely design
        p.features__card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          | Non rerum perferendis quidem est iste omnis nulla tenetur voluptatem?
      div.features__card
        span.features__icon.features__icon--phone
        h3.features__card-title Mobile Friendly
        p.features__card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          | Non rerum perferendis quidem est iste omnis nulla tenetur voluptatem?