div.page-header#home
  div.container.page-header__wrapper
    header.header
      img.header__logo(src="img/logo.png", alt="logo")
      nav.header__nav.js-menu
        a.header__nav-link(href="#home") Home
        a.header__nav-link(href="#features") Feature
        a.header__nav-link(href="#about") About
        a.header__nav-link(href="#testimonials") Testimonials
        a.header__nav-link(href="#pricing") Pricing
        a.header__nav-link(href="#contact") Contact
      a(href="#").header__menu-button.js-menu-button &#9776
    div.page-header__content-wrap
      p.page-header__pre-title.pre-title Introducing lucid theme
      h1.page-header__title.page-title Carefully crafted and beautiful landing page.
      p.page-header__text Etiam ullamcorper et turpis eget hendrerit. Praesent 
        | varius risus mi, at elementum magna ultricies accumsan. Cras venenatis    
        | lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.
      a.page-header__button.button(href="#") Download now
      a.page-header__button.button.button--transparent(href="#") View features
