div.pricing#pricing
  div.container.pricing__wrapper
    p.pre-title quality has its price
    h2.section-title Pricings & Plans
    div.title-underline
      span.line
      span.line
    div.pricing__card-container
      div.pricing__card
        h3.pricing__plan-name Free
        p.pricing__cost $0
        p.pricing__period /per month
        p.pricing__description Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.
        a.pricing__order-button.button.button--order(href="") order now
      div.pricing__card
        h3.pricing__plan-name Personal
        p.pricing__cost $25
        p.pricing__period /per month
        p.pricing__description Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.
        a.pricing__order-button.button.button--order(href="") order now
      div.pricing__card
        h3.pricing__plan-name Business
        p.pricing__cost $50
        p.pricing__period /per month
        p.pricing__description Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.
        a.pricing__order-button.button.button--order(href="") order now
      div.pricing__card
        h3.pricing__plan-name Ultimate
        p.pricing__cost $99
        p.pricing__period /per month
        p.pricing__description Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.
        a.pricing__order-button.button.button--order(href="") order now