div.testimonials#testimonials
  div.container.testimonials__wrapper
    p.pre-title What say about us
    h2.section-title.section-title--white Testimonials
    div.title-underline
      span.line
      span.line
    div.testimonials__items-wrapper
      div.testimonials__item
        p.testimonials__text Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
        div.testimonials__author-wrapper
          img.testimonials__avatar(src="img/avatar_1.png", alt="avatar")
          div.testimonials__name-wrapper
            p.testimonials__name John Doe
            p.testimonials__positio CEO, THE RIVERS COMPANY
      div.testimonials__item
        p.testimonials__text A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.
        div.testimonials__author-wrapper
          img.testimonials__avatar(src="img/avatar_2.png", alt="avatar")
          div.testimonials__name-wrapper
            p.testimonials__name Dean Winchester
            p.testimonials__positio UX DESIGNER, GOOGLE INC.